<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>HTML Forms</h2>

    <form action="login" method="post">

        <label>id:</label><br>
        <input type="text" id="id" name="id" value="강정현"><br>

        <label>pw:</label><br>
        <input type="password" id="pw" name="pw" value="123123"><br><br>

        <input type="submit" value="로그인">

    </form> 
    
</body>
</html>

<!-- 주의 사항
http://ip:port/templates/step04request.html 요청시 정상 실행 불가 

해결점
- flask 앱을 통해서 step04request.html 실행해야 함 



-->